{% assign blocks = section.blocks %}
{% assign align = section.settings.card_text_alignment %}


<div class="w-full py-6 px-3">
  <div class="shadow-lg rounded-md overflow-hidden">
    {{ "product-1" | placeholder_svg_tag: "w-full h-80 object-cover bg-gray-100" }}
    <div class="flex flex-col gap-1 justify-center p-4" style="align-items: {{ align }} ;">
      {% for block in blocks %}
        {% case block.type %}
          {% when "title" %}
            <p class="text-gray-700 uppercase tracking-widest pb-2 pt-1">{{ product.title }}</p>
          {% when "vendor" %}
            <p class="text-gray-500 uppercase text-xs tracking-widest">{{ product.vendor }}</p>
          {% when "price" %}
            {% if product.compare_at_price %}

              <div class="flex items-center gap-2">
                <p class="text-red-500">{{ "9999" | money }}</p>
                <p class="text-gray-500 line-through">{{ "9999" | money }}</p>
              </div>

            {% else %}
              <p class="text-gray-500">{{ "9999" | money }}</p>
            {% endif %}
        {% endcase %}
      {% endfor %}


    </div>


  </div>
</div>