{% assign blocks = section.blocks %}
{% assign align = section.settings.card_text_alignment %}

<div class="w-full py-6 px-3">
  <div class="shadow-lg rounded-md overflow-hidden">
    <a href="{{ product.url }}">
      {% if product.featured_image %}
        <div class="h-80 overflow-hidden">
          <img
            class="w-full h-full object-cover transition duration-500 ease-out hover:scale-105 transform"
            src="{{ product.featured_image | img_url: 'master' }}"
            alt="{{ product.featured_image.alt }}">
        </div>

      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
      {% endif %}
    </a>

    <div class="flex flex-col gap-1 justify-center p-4" style="align-items: {{ align }} ;">
      {% for block in blocks %}
        {% case block.type %}
          {% when "title" %}
            <p class="text-gray-700 uppercase tracking-widest pb-2 pt-1">{{ product.title }}</p>
          {% when "vendor" %}
            <p class="text-gray-500 uppercase text-xs tracking-widest">{{ product.vendor }}</p>
          {% when "price" %}
            {% if product.compare_at_price %}

              <div class="flex items-center gap-2">
                <p class="text-red-500">{{ product.price | money }}</p>
                <p class="text-gray-500 line-through">{{ product.compare_at_price | money }}</p>
              </div>

            {% else %}
              <p class="text-gray-500">{{ product.price | money }}</p>
            {% endif %}
        {% endcase %}
      {% endfor %}


    </div>

  </div>
</div>