{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div x-data="{ openSideBar = false }" class="absolute top-0 z-[100] w-[370px] h-full bg-[#fafafa]">

  <div class="flex flex-col justify-center items-center gap-6 z-50">
    <div class="flex justify-end py-8 pr-4 w-full border-b">
      <button x-on:click="openSideBar = false">{% render 'icon-close-button' %}</button>
    </div>
    <ul class="z-50 flex flex-col gap-10 w-full pl-10 pt-5">
      {% for link in main_menu_linklist %}
        {% if link.links != blank %}
          <div x-data="{ openDropdown: false }" class="border-b w-[80%] pb-4">
            <button
              x-on:click="openDropdown = ! openDropdown"
              type="button"
              class="flex items-center text-base uppercase tracking-wider text-gray-500 transition ease-out duration-200 hover:text-gray-900">
              {{ link.title }}
              {% render 'icon-dropdown' %}
            </button>

            <div
              x-show="openDropdown"
              x-cloak
              x-transition:enter="transition ease-out duration-300 transform origin-top"
              x-transition:enter-start="opacity-0 scale-y-0"
              x-transition:enter-end="opacity-100 scale-y-100"
              x-transition:leave="transition ease-out duration-300 transform origin-top"
              x-transition:leave-start="opacity-100 scale-y-100"
              x-transition:leave-end="opacity-0 scale-y-0">
              <div class="py-5">

                {% for sublink in link.links %}
                  <a href="{{ sublink.url }}">
                    <div class="ml-4 py-3">
                      <p class="text-sm uppercase tracking-wider text-gray-500 transition ease-out duration-200 hover:text-gray-900">
                        {{ sublink.title }}
                      </p>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
          <li class="border-b w-[80%] pb-4">
            <a href="{{ link.url }}" class="text-base uppercase tracking-wider text-gray-500 transition ease-out duration-200 hover:text-gray-900">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>