<div class="h-[75vh] max-h-[calc(100% - 30vh)] overflow-y-auto">
  {% if cart.item_count > 0 %}
    {% for item in cart.items %}
      <div class="flex justify-between items-center mb-5 pb-8 gap-5 border-b">
        <div class="flex items-center ml-10">
          <img
            src="{{ item.image | img_url: "large" }}"
            alt="{{ item.image.alt }}"
            height="200"
            width="200">
        </div>
        <div class="flex flex-col gap-4 mr-20">
          <div class="flex flex-col gap-2">
            <p class="text-sm tracking-wider uppercase w-[150px] whitespace-nowrap overflow-hidden text-ellipsis">{{ item.product.title | truncatewords: 5 }}</p>
            {% unless item.product.has_only_default_variant %}
              <span class="text-sm text-gray-500">{{ item.variant.title }}</span>
            {% endunless %}
            <p class="text-sm">{{ item.line_price | money }}</p>
          </div>
          <div class="flex justify-between items-center gap-3">

            <div class="flex justify-center items-center gap-4 border border-[#dbdbdb] b-radius rounded-sm p-[6px]">
              {%- assign quantity_minus_one = item.quantity | minus: 1 -%}

              <a
                title="{{ 'cart.items.set_quantity' | t: new_quantity: quantity_minus_one }}"
                href="{{ routes.cart_change_url }}?quantity={{ quantity_minus_one }}&line={{ forloop.index }}"
                data-quantity="{{ quantity_minus_one }}"
                data-line="{{ forloop.index }}"
                data-action="update-item-quantity">{% render "icon-minus" %}</a>
              <input
                class="w-6 bg-transparent text-center"
                type="text"
                name="updates[]"
                id="updates_{{ line_item.key }}"
                pattern="[0-9]*"
                data-line="{{ forloop.index }}"
                value="{{ item.quantity }}">
              {% assign quantity_plus_one = item.quantity | plus: 1 %}
              <a
                href="{{ routes.cart_change_url }}?quantity={{ quantity_plus_one   }}&line={{ forloop.index }}"
                data-quantity="{{ quantity_plus_one }}"
                data-line="{{ forloop.index }}"
                data-action="update-item-quantity"
                title="{{ cart.items.set_quantity | t: new_quantity: quantity_plus_one }}">{% render "icon-plus" %}</a>
            </div>
            <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">{% render "icon-trash" %}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p class="uppercase">Cart it empty!</p>
  {% endif %}
</div>