{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="w-full h-[500px]" style="background-color: {{ section.settings.footer_background_color  }}; color: {{ section.settings.footer_text_color }};">
  <div class="flex flex-col lg:flex-row text-center lg:text-left items-center lg:items-start justify-center px-5 pt-14 gap-8 lg:gap-52 h-3/4">
    <div>
      <h2 class="uppercase tracking-wider">{{ shop.name }}</h2>
      <h4 class="text-sm tracking-wider pt-4">{{ section.settings.footer_address }}</h4>
    </div>
    <div>
      {% render "footer-menu" %}
    </div>
  </div>
  <div class="flex items-center justify-between px-5 w-full h-1/4 border-t" style="border-color: {{ section.settings.footer_border_color   }};">
    <div class="flex flex-row gap-5">
      <p class="font-light tracking-wide">Crafted by Hemen</p>
      <span>|</span>
      <p class="font-light tracking-wide">Designed in Sweden</p>
    </div>
    <div>
      <p class="font-light tracking-wide">Powered by Shopify</p>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "color",
        "id": "footer_background_color",
        "default": "#000",
        "label": "Footer Background Color"
      },
      {
        "type": "color",
        "id": "footer_text_color",
        "default": "#fff",
        "label": "Footer Text Color"
      },
      {
        "type": "color",
        "id": "footer_border_color",
        "default": "#000",
        "label": "Footer Border Color"
      },
      {
        "type": "link_list",
        "id": "footer_menu",
        "default": "footer",
        "label": "Footer Menu"
      }, {
        "type": "text",
        "id": "footer_address",
        "default": "Add your address",
        "label": "Business Address"
      }
    ]
  }
{% endschema %}