<div class="flex flex-col justify-center py-8" style="background-color: {{ section.settings.perk_background_color }};">
  <div class="flex flex-col md:flex-row justify-center items-center">
    {% for block in section.blocks %}

      <div class="flex flex-col items-center justify-center gap-5 text-center">
        {% if block.settings.display_perk_image == true %}
          <img
            src="{{ block.settings.perk_image | img_url: 'master' }}"
            width="{{ block.settings.image_size}}"
            height="{{ block.settings.image_size}}"
            alt="logo">
        {% endif %}

        <h2 class="font-medium tracking-wider uppercase" style="color: {{ block.settings.perk_heading_color | default: block.settings.perk_heading_color }};">{{ block.settings.perk_heading | default: section.settings.perk_heading }}</h2>
        <p class="tracking-wider w-2/3" style="color: {{ block.settings.perk_text_color | default: section.settings.perk_text_color }};">{{ block.settings.perk_text | default: section.settings.perk_text }}</p>
      </div>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Perks",
    "settings": [
      {
        "type": "color",
        "id": "perk_background_color",
        "label": "Perk Background Color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "perk_heading_color",
        "label": "Default Perk Heading Color",
        "default": "#000"
      }

    ],
    "blocks": [
      {
        "type": "perk",
        "name": "Perk 1",
        "settings": [
          {
            "type": "color",
            "id": "perk_heading_color",
            "label": "Perk Heading Color"
          },
          {
            "type": "text",
            "id": "perk_heading",
            "label": "Perk Heading"
          },
          {
            "type": "color",
            "id": "perk_text_color",
            "label": "Perk Text Color"
          },
          {
            "type": "text",
            "id": "perk_text",
            "label": "Perk Text"
          }, {
            "type": "image_picker",
            "id": "perk_image",
            "label": "Add Image"
          }, {
            "type": "checkbox",
            "id": "display_perk_image",
            "label": "Display Perk Image",
            "default": true
          }, {
            "type": "range",
            "id": "image_size",
            "label": "Image Size (in pixels)",
            "default": 100,
            "min": 10,
            "max": 150,
            "step": 10
          }
        ]
      }, {
        "type": "perk_2",
        "name": "Perk 2",
        "settings": [
          {
            "type": "color",
            "id": "perk_heading_color",
            "label": "Perk Heading Color"
          },
          {
            "type": "text",
            "id": "perk_heading",
            "label": "Perk Heading"
          },
          {
            "type": "color",
            "id": "perk_text_color",
            "label": "Perk Text Color"
          },
          {
            "type": "text",
            "id": "perk_text",
            "label": "Perk Text"
          }, {
            "type": "image_picker",
            "id": "perk_image",
            "label": "Add Image"
          }, {
            "type": "checkbox",
            "id": "display_perk_image",
            "label": "Display Perk Image",
            "default": true
          }, {
            "type": "range",
            "id": "image_size",
            "label": "Image Size (in pixels)",
            "default": 100,
            "min": 10,
            "max": 150,
            "step": 10
          }
        ]
      }, {
        "type": "perk_3",
        "name": "Perk 3",
        "settings": [
          {
            "type": "color",
            "id": "perk_heading_color",
            "label": "Perk Heading Color"
          },
          {
            "type": "text",
            "id": "perk_heading",
            "label": "Perk Heading"
          },
          {
            "type": "color",
            "id": "perk_text_color",
            "label": "Perk Text Color"
          },
          {
            "type": "text",
            "id": "perk_text",
            "label": "Perk Text"
          }, {
            "type": "image_picker",
            "id": "perk_image",
            "label": "Add Image"
          }, {
            "type": "checkbox",
            "id": "display_perk_image",
            "label": "Display Perk Image",
            "default": true
          }, {
            "type": "range",
            "id": "image_size",
            "label": "Image Size (in pixels)",
            "default": 100,
            "min": 10,
            "max": 150,
            "step": 10
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Perks"
      }
    ]
  }
{% endschema %}